{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
<!-- Page Header-->
<div class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5">
    <div class="w-full mb-1">
        <div class="mb-4">
            <nav class="flex mb-5" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
                <li class="inline-flex items-center">
                    <a href="#" class="inline-flex items-center text-gray-700 hover:text-primary-600">
                        <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
                        </svg> Dashboard </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                        </svg>
                        <a href="#" class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2">Aktivitas User</a>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
                        </svg>
                        <span class="ml-1 text-gray-400 md:ml-2" aria-current="page">List</span>
                    </div>
                </li>
            </ol>
            </nav>
            <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl">{{ title }}</h1>
        </div>
        <form action="" method="get">
            <div class="grid grid-cols-1 xl:grid-cols-3 xl:gap-4">
                <div class="mb-3">
                    <label for="dari" class="block mb-2 text-sm font-medium text-gray-900">
                        Dari<span class="text-red-500">*</span>
                    </label>
                    <input type="date" name="dari" id="dari" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        value="{{fieldValues.dari}}" required />
                </div>
                <div class="mb-3">
                    <label for="sampai" class="block mb-2 text-sm font-medium text-gray-900">
                        Sampai<span class="text-red-500">*</span>
                    </label>
                    <input type="date" name="sampai" id="sampai" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                        value="{{fieldValues.sampai}}" required />
                </div>
                <div class="mb-3">
                    <label for="activity-search" class="block mb-2 text-sm font-medium text-gray-900">Search</label>
                    <input type="text" name="q" id="activity-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" placeholder="Cari disini..." value="{{ query|default:'' }}">
                </div>
            </div>
            <div class="float-end">
                {% if pagination %}
                    <a href="{% url "memorial.laporan.export_pdf" %}?kode_akun={{ fieldValues.User }}&dari={{ fieldValues.dari }}&sampai={{ fieldValues.sampai }}" class="inline-flex items-center justify-center w-1/2 px-3 py-2 mx-1 text-sm font-medium text-center text-red-500 bg-white border border-red-500 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 sm:w-auto">
                        <svg class="w-5 h-5 mr-2 -ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z"/>
                        </svg> Unduh PDF </a>
                {% endif %}
                <button type="submit"  class="inline-flex items-center justify-center w-1/2 px-3 py-2 mx-1 text-sm font-medium text-center text-gray-900 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 sm:w-auto">
                    <svg class="w-5 h-5 mr-2 -ml-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="m21 21-3.5-3.5M17 10a7 7 0 1 1-14 0 7 7 0 0 1 14 0Z"/>
                    </svg> Cari </button>
            </div>
        </form>
    </div>
</div>
{% include "partials/_alert.html" %}
<!-- Table-->
<div class="flex flex-col">
    <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden shadow">
                <table class="min-w-full divide-y divide-gray-200 table-fixed m-4">
                    <thead class="bg-gray-100">
                        <tr>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase"> # </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase"> User </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase"> Kategori </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase"> Jenis Transaksi </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase"> Tipe </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase"> Keterangan </th>
                            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase"> Waktu </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        {% for activity in pagination %}
                            <tr class="hover:bg-gray-100">
                                <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs">{{ forloop.counter0|add:1 }}</td>
                                <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs">
                                    {{ activity.first_name }} {{ activity.last_name }}
                                </td>
                                <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs">
                                    {{ activity.kategori|title }}
                                </td>
                                <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs">
                                    {% if activity.jenis_transaksi %}
                                        {{ activity.jenis_transaksi|title }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs">
                                    {% if activity.tipe %}
                                        {{ activity.tipe|title }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs">
                                    {% if activity.jenis_transaksi %}
                                        <span title="{{ activity.d_keterangan }}.">{{ activity.d_keterangan }}.</span>
                                    {% else %}
                                        <span title="{{ activity.keterangan }}.">{{ activity.keterangan }}.</span>
                                    {% endif %}
                                </td>
                                <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs">
                                    {{ activity.created_at|date:'d-m-Y H:i:s' }}
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7" class="p-4 text-base font-medium text-gray-900 whitespace-nowrap text-center">Data tidak ditemukan</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--- Pagination -->
{% include "components/_pagination.html" %}
<!-- Delete User Modal -->
{% include "components/_delete_modal.html" %}
{% endblock content %}
{% block extra_script %}
<script>
    $('.btn-delete').on('click', function() {
        const id = $(this).data('id')
        const url = $(this).data('url')
        $('#delete-modal #deleteForm').attr('action', url)
    })
</script>
{% endblock extra_script %}